{
	"mysql_db": {
		"host":		"127.0.0.1",
		"database":	"qlstats",
		"user":		"<changeusername>",
		"password":	"<changepassword>"
	},
	"api": {
		"port": 8585,
		"httplogfile": "./http.log",
		"games": {
			"save": true,
			"tempdir": "/tmp/",
			"gamesdir": "./games/"
		}
	},
  "loader": {
    "saveDownloadedJson": true,
    "importDownloadedJson": true,
    "ql_email": "<change to-your-QL-datafeed-login-email>",
    "ql_pass": "<change to-your-QL-datafeed-login-pass>",
    "jsondir": "./jsons/"
  },
	"counter": {
		"on": true,
		"path": "/tmp/ql-stats-dev.counter"
	}
}
