{
	"mysql_db": {
		"host":			"192.168.0.1",
		"database": "qlstats",
		"user":			"rulex",
		"password": "mysecretpassword,lol"
	},
	"api": {
		"port": 8585,
		"httplogfile": "./http.log",
		"games": {
			"save": true,
			"tempdir": "/tmp/",
			"gamesdir": "./games/"
		}
	},
  "loader": {
    "stream": false,
    "ql_email": "your-QL-datafeed-login-email",
    "ql_pass": "your-QL-datafeed-login-pass",
    "jsondir": "./jsons/"
  },
	"counter": {
		"on": true,
		"path": "/tmp/ql-stats-dev.counter"
	}
}



