{
	"mysql_db": {
		"host":		"127.0.0.1",
		"database":	"qlstats",
		"user":		"<changeusername>",
		"password":	"<changepassword>"
	},
	"api": {
		"port": 8585,
		"httplogfile": "./http.log",
		"cache": {
			"file": "/tmp/qlscache.json",
			"dir": "./cachedir/",
			"time": 3600000
		}
	}
  "loader": {
    "saveDownloadedJson": true,
    "importDownloadedJson": true,
    "ql_email": "<change to-your-QL-datafeed-login-email>",
    "ql_pass": "<change to-your-QL-datafeed-login-pass>",
    "jsondir": "./jsons/"
  }
}
