.gametype {
	opacity: 0.85;
	margin: 0 auto;
	padding-top: 9px;
	padding-left: 9px;
	margin-top: 0px;
	text-align: center
	position: relative;
	width: 100%;
}
.map-name {
	background: none repeat scroll 0 0 #fff;
	opacity: 0.55;
	margin: 0 auto;
	margin-top: -25px;
	text-align: center
	position: relative;
	width: 100%;
}
.dumbnail {
	margin-top: -30px;
	text-align: center;
}
.wrapper {
	text-align: center;
}
.loading {
	background: url( 'loading.gif' ) no-repeat;
	padding: 20px;
}
.col-center{
	float: none;
	margin: 0 auto;
}

.premium_icon {
	background: url(http://quakelive.com/images/lgi/premium_icon_v2013071600.0.png) no-repeat;
	width: 16px;
	height: 16px;
	position: relative;
	margin-left: 2px;
}
.unranked_icon {
	background: url(http://quakelive.com/images/modules/browser/unrank_icon_v2013071600.0.png) no-repeat;
	width: 14px;
	height: 14px;
	position: relative;
	margin-left: 2px;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; z-index: 4000 !important }
.ui-autocomplete-loading { background: white url( 'images/ui-anim_basic_16x16.gif' ) right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width: 1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
}
.ui-menu .ui-menu {
	/*
	margin-top: 3px;
	*/
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	width: 100%;
	background-color: "#cccccc";
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}
