
<div class="row-fluid">
	<div class="span12 well">
		 Last 500 games
		<table class="table table-condensed table-striped ">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='PUBLIC_ID'; ordertype=!ordertype">PUBLIC_ID</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TYPE'; ordertype=!ordertype" title="GAME_TYPE">GT</a></th>
					<th><a href="" ng-click="ordercolumn='MAP'; ordertype=!ordertype">MAP</a></th>
					<th><a href="" ng-click="ordercolumn='OWNER'; ordertype=!ordertype">OWNER</a></th>
					<th><a href="" ng-click="ordercolumn='TOTAL_KILLS'; ordertype=!ordertype">KILLS</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TIMESTAMP'; ordertype=!ordertype">GAME_TIMESTAMP</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_LENGTH'; ordertype=!ordertype">GAME_LENGTH</a></th>
					<th><a href="" ng-click="ordercolumn='NUM_PLAYERS'; ordertype=!ordertype">NUM_PLAYERS</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="z in games.data.games | orderBy:ordercolumn:ordertype">
					<td><a href="#/game/{{ z.PUBLIC_ID }}">{{ z.PUBLIC_ID | shortenPID }}</a></td>
					<td>
							<img style="float: left;" src="http://cdn.quakelive.com/web/2013071601/images/gametypes/sm/{{ z.GAME_TYPE }}_v2013071601.0.png" alt="{{ z.GAME_TYPE }}" title="{{ z.GAME_TYPE }}" />
						<div style="height: 14px; float: left;">
							<div class="{{ z.RULESET | ruleset }}"></div>
							<div class="{{ z.PREMIUM | premium }}"> </div>
							<div class="{{ z.RANKED | ranked }}"></div>
						</div>
					</td>
					<td>
						<a href="#/map/{{ z.MAP }}">
							<img src="http://cdn.quakelive.com/web/2011071903/images/levelshots/md/{{ z.MAP }}_v2011071903.0.jpg" alt="{{ z.MAP }}" title="{{ z.MAP }}" style="height:42px;width:56px;border-width:0px;" />
						</a>
					</td>
					<td><a href="#/owner/{{ z.OWNER }}">{{ z.OWNER }}</a></td>
					<td>{{ z.TOTAL_KILLS }}</td>
					<td>{{ z.GAME_TIMESTAMP*1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
					<td>{{ date-z.GAME_LENGTH*1000 | timeago }}</td>
					<td>{{ z.NUM_PLAYERS }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

