

<div class="row-fluid">
	<div class="span12 well">
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='MAP'; ordertype=!ordertype">MAP</a></th>
					<th><a href="" ng-click="ordercolumn='MATCHES_PLAYED'; ordertype=!ordertype">MATCHES_PLAYED</a></th>
					<th><a href="" ng-click="ordercolumn='TOTAL_KILLS'; ordertype=!ordertype">TOTAL_KILLS</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_LENGTH'; ordertype=!ordertype">GAME_LENGTH</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="z in maps.data.maps | orderBy:ordercolumn:ordertype">
					<td><a href="#/map/{{ z.MAP }}"><img src="http://cdn.quakelive.com/web/2011071903/images/levelshots/md/{{ z.MAP }}_v2011071903.0.jpg" alt="{{ z.MAP }}" title="{{ z.MAP }}" style="height:42px;width:56px;border-width:0px;"> {{ z.MAP }}</a></td>
					<td>{{ z.MATCHES_PLAYED | number }}</td>
					<td>{{ z.TOTAL_KILLS | number }}</td>
					<td>{{ date-z.GAME_LENGTH*1000 | timeago }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


