
<div class="container">

	<div class="row">
		<div class="col-md-12">

		<table class="table table-condensed table-striped ">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='GAME_TYPE'; ordertype=!ordertype" title="GAME_TYPE">GT</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TYPE'; ordertype=!ordertype" title="GAME_TYPE">GT</a></th>
					<th><a href="" ng-click="ordercolumn='TOTAL_KILLS'; ordertype=!ordertype">KILLS</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_LENGTH'; ordertype=!ordertype">GAME_LENGTH</a></th>
					<th><a href="" ng-click="ordercolumn='MATCHES_PLAYED'; ordertype=!ordertype">MATCHES_PLAYED</a></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Total</td>
					<td>Total</td>
					<td>{{ sum( overview.data, 'TOTAL_KILLS' ) | number }}</td>
					<td>{{ ( date-sum( overview.data, 'GAME_LENGTH' )*1000 ) | timeago }}</td>
					<td>{{ sum( overview.data, 'MATCHES_PLAYED' ) | number }}</td>
				</tr>
				<tr ng-repeat="z in overview.data | orderBy:ordercolumn:ordertype">
					<td><img style="float: left;" src="http://cdn.quakelive.com/web/2013121709/images/gametypes/sm/{{ z.GAME_TYPE | gametype }}_v2013121709.0.png" alt="{{ z.GAME_TYPE }}" title="{{ z.GAME_TYPE }}" /></td>
							
					<td>{{ z.GAME_TYPE | gametype }}</td>
					<td>{{ z.TOTAL_KILLS | number }}</td>
					<td>{{ date-z.GAME_LENGTH*1000 | timeago }}</td>
					<td>{{ z.MATCHES_PLAYED | number }}</td>
				</tr>
			</tbody>
		</table>
		<!--
		<div class="row" id="table_player_games_">
			<div class="col-lg-1 col-center">
				<div class="loading"></div>
			</div>
		</div>
		-->

		</div>
	</div>

</div>

