
<div class="row-fluid">
	<div class="col-sm-12">

		<div ng-show="showsearch" class="">
			<form ng:submit="$emit('Search')">
				<input placeholder="Search player" type="text" class="form-control" id="players_search" />
			</form>
		</div>

		<br />
		<table class="table table-condensed table-striped ">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='PLAYER_NICK'; ordertype=!ordertype">PLAYER_NICK</a></th>
					<th><a href="" ng-click="ordercolumn='CLAN'; ordertype=!ordertype">CLAN</a></th>
				</tr>
			</thead>
			<tbody>
			  <tr ng-repeat="z in players.data.players | orderBy:ordercolumn:ordertype">
			    <td>
			      <img ng-show="z.PLAYER_COUNTRY" src="http://cdn.quakelive.com/web/2013071601/images/flags/{{ z.PLAYER_COUNTRY | lower }}_v2013071601.0.gif" class="playerflag" title="{{ z.PLAYER_COUNTRY }}" />
			      <a href="#/{{theurl}}players/{{z.PLAYER_NICK}}">{{ z.PLAYER_NICK }}</a>
          </td>
			    <td><a href="#/clans/{{ z.CLAN_ID }}">{{ z.CLAN }}</a></td>
			  </tr>
			</tbody>
		</table>

</div>

