

<div class="row-fluid">

	<div class="col-md-6 ">

		<div class="row-fluid ">
			<h3>{{ player.data.player.PLAYER_NICK }}</h3>
			<!--
			<button class="btn btn-primary" id="player_update_btn" ng-click="$emit('Update')">Update</button>
			-->
		</div>
		<table class="table table-condensed table-striped well">
			<tbody>
				<tr><td>MATCHES_PLAYED:</td><td>{{ player.data.player.MATCHES_PLAYED }}</td></tr>
				<tr><td>PLAY_TIME_SUM:</td><td>{{ date-player.data.player.PLAY_TIME_SUM*1000 | timeago }}</td></tr>
				<tr><td>ACC_AVG:</td><td>{{ player.data.player.ACC_AVG }}</td></tr>
				<tr><td>DAMAGE_DEALT_PER_SEC_AVG:</td><td>{{ player.data.player.DAMAGE_DEALT_PER_SEC_AVG }}</td></tr>
				<tr><td>KILLS / DEATHS ( RATIO )</td><td>{{ player.data.player.KILLS_SUM }} [{{ player.data.player.KILLS_AVG }}avg] / {{ player.data.player.DEATHS_SUM }} [{{ player.data.player.DEATHS_AVG }}avg] ({{ player.data.player.RATIO | number }})</td></tr>
				<tr><td>SCORE:</td><td>{{ player.data.player.SCORE_SUM }}total [{{player.data.player.SCORE_AVG}}avg]</td></tr>
				<tr><td>RANK avg:</td><td>{{ player.data.player.RANK_AVG }} [{{ player.data.player.TEAM_RANK_AVG }} teamrank] </td></tr>
				<tr><td>Excellent/Impressive AVG:</td><td>{{ player.data.player.EXCELLENT_AVG }} [{{ player.data.player.IMPRESSIVE_AVG }}] </td></tr>
			  <tr><td colspan="2"><a href="#/race/players/{{ player.data.player.PLAYER_NICK }}">Race results</a></td></tr>
			</tbody>
		</table>

		<div class="row-fluid"><h3>All</h3> </div>
		<table class="table table-condensed table-striped well">
			<tbody>
				<tr ng-repeat="(key,val) in player.data.player">
					<td>{{ key }}</td>
					<td>{{ val }}</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="col-md-6 well">

		<div class="row-fluid"><h3>Games</h3> </div>
		<table id="table_player_games" class="table table-condensed">
			<thead>
				<tr>
					<th data-dynatable-column="PUBLIC_ID">PUBLIC_ID</th>
					<th data-dynatable-column="GAME_TYPE" title="GAME_TYPE">GT</th>
					<th data-dynatable-column="CLAN" title="CLAN">C</th>
					<th data-dynatable-column="GAME_TIMESTAMP">GAME_TIMESTAMP</th>
					<th data-dynatable-column="MAP">MAP</th>
					<th data-dynatable-column="OWNER">OWNER</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="row" id="table_player_games_">
			<div class="col-lg-1 col-center">
				<div class="loading"></div>
			</div>
		</div>
	</div>
<!--
	-->
</div>

<!--
<div class="row-fluid">

	<div class="col-md-12">

		<div class="row-fluid"><h3>Games</h3> </div>
		<table class="table table-condensed table-striped ">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='PUBLIC_ID'; ordertype=!ordertype">PUBLIC_ID</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TIMESTAMP'; ordertype=!ordertype">GAME_TIMESTAMP</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TYPE'; ordertype=!ordertype" title="GAME_TYPE">GT</a></th>
					<th><a href="" ng-click="ordercolumn='MAP'; ordertype=!ordertype">MAP</a></th>
					<th title="DAMAGE_DEALT_PER_SEC"><a href="" ng-click="ordercolumn='DAMAGE_DEALT_PER_SEC_AVG'; ordertype=!ordertype">DD/s</a></th>
					<th><a href="" ng-click="ordercolumn='OWNER'; ordertype=!ordertype">OWNER</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="z in games.data.games | orderBy:ordercolumn:ordertype">
					<td><a href="#/game/{{ z.PUBLIC_ID }}">{{ z.PUBLIC_ID | shortenPID }}</a></td>
					<td>{{ z.GAME_TIMESTAMP *1000 | date:'yyyy-MM-dd HH:mm:ss' }} </td>
					<td>
							<img style="float: left;" src="http://cdn.quakelive.com/web/2013071601/images/gametypes/sm/{{ z.GAME_TYPE }}_v2013071601.0.png" class="gameicon" alt="{{ z.GAME_TYPE }}" title="{{ z.GAME_TYPE }}" />
						<div style="height: 14px; float: left;">
							<div class="{{ z.RULESET | ruleset }}"></div>
							<div class="{{ z.PREMIUM | premium }}"> </div>
							<div class="{{ z.RANKED | ranked }}"></div>
						</div>
					</td>
					<td><a href="#/map/{{ z.MAP }}"><img src="http://cdn.quakelive.com/web/2011071903/images/levelshots/md/{{ z.MAP }}_v2011071903.0.jpg" alt="{{ z.MAP }}" title="{{ z.MAP }}" style="height:42px;width:56px;border-width:0px;"></a></td>
					<td>{{ z.DAMAGE_DEALT_PER_SEC_AVG | number:2 }}</td>
					<td><a href="#/player/{{ z.OWNER }}">{{ z.OWNER }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
-->


<div class="row-fluid">
</div>

