
<div class="row-fluid">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">

		<div ng-show="showsearch" class="">
			<form ng:submit="$emit('Search')">
				<input placeholder="Search player" type="text" class="form-control" id="players_search" />
			</form>
		</div>

		<br />
		<table class="table table-condensed table-striped ">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='CLAN'; ordertype=!ordertype">CLAN</a></th>
					<th><a href="" ng-click="ordercolumn='PLAYER'; ordertype=!ordertype">PLAYER</a></th>
					<th><a href="">Shortcuts</a></th>
				</tr>
			</thead>
			<tbody>
			  <tr ng-repeat="z in players.data.players | orderBy:ordercolumn:ordertype">
					<td><a href="#/clans/{{ z.CLAN_ID }}">{{ z.CLAN }}</a></td>
			    <td>
			      <img ng-show="z.COUNTRY" src="http://cdn.quakelive.com/web/2013071601/images/flags/{{ z.COUNTRY | lower }}_v2013071601.0.gif" class="playerflag" title="{{ z.COUNTRY }}" />
			      <a href="#/{{theurl}}players/{{z.PLAYER}}">{{ z.PLAYER }}</a>
					</td>
					<td>
						<a style="margin-right: 2px;" class="btn btn-xs btn-default" href="#/gametypes/duel/players/{{ z.PLAYER }}">
							<img src="http://cdn.quakelive.com/web/2014051402/images/gametypes/xsm/duel_v2014051402.0.png" title="duel" />
						</a>
						<a style="margin-right: 2px;" class="btn btn-xs btn-default" href="#/gametypes/ca/players/{{ z.PLAYER }}">
							<img src="http://cdn.quakelive.com/web/2014051402/images/gametypes/xsm/ca_v2014051402.0.png" title="ca" />
						</a>
						<a style="margin-right: 2px;" class="btn btn-xs btn-default" href="#/gametypes/tdm/players/{{ z.PLAYER }}">
							<img src="http://cdn.quakelive.com/web/2014051402/images/gametypes/xsm/tdm_v2014051402.0.png" title="tdm" />
						</a>
						<a style="margin-right: 2px;" class="btn btn-xs btn-default" href="#/gametypes/ctf/players/{{ z.PLAYER }}">
							<img src="http://cdn.quakelive.com/web/2014051402/images/gametypes/xsm/ctf_v2014051402.0.png" title="ctf" />
						</a>
						<a style="margin-right: 2px;" class="btn btn-xs btn-default" href="#/gametypes/ffa/players/{{ z.PLAYER }}">
							<img src="http://cdn.quakelive.com/web/2014051402/images/gametypes/xsm/ffa_v2014051402.0.png" title="ffa" />
						</a>
						<a style="margin-right: 2px;" class="btn btn-xs btn-default" href="#/race/players/{{ z.PLAYER }}">
							<img src="http://cdn.quakelive.com/web/2014051402/images/gametypes/xsm/race_v2014051402.0.png" title="race" />
						</a>
          </td>
			  </tr>
			</tbody>
		</table>
	</div>

	<div class="col-sm-3"></div>

</div>

