

<div class="row-fluid">

	<div class="span6 well">
		<div class="row-fluid">Per game stats for:<h3>{{ player[0].PLAYER_NICK }}</h3> </div>
		<table class="table table-condensed table-striped table-hover">
			<tbody>
				<tr><td>MATCHES_PLAYED:</td><td>{{ player[0].MATCHES_PLAYED }}</td></tr>
				<tr><td>PLAY_TIME_SUM:</td><td>{{ date-player[0].PLAY_TIME_SUM*1000 | timeago }}</td></tr>
				<tr><td>ACC_AVG:</td><td>{{ player[0].ACC_AVG }}</td></tr>
				<tr><td>DAMAGE_DEALT_PER_SEC_AVG:</td><td>{{ player[0].DAMAGE_DEALT_PER_SEC_AVG }}</td></tr>
				<tr><td>KILLS / DEATHS ( RATIO )</td><td>{{ player[0].KILLS_SUM }} [{{ player[0].KILLS_AVG }}avg] / {{ player[0].DEATHS_SUM }} [{{ player[0].DEATHS_AVG }}avg] ({{ player[0].RATIO | number }})</td></tr>
				<tr><td>SCORE:</td><td>{{ player[0].SCORE_SUM }}total [{{player[0].SCORE_AVG}}avg]</td></tr>
				<tr><td>RANK avg:</td><td>{{ player[0].RANK_AVG }} [{{ player[0].TEAM_RANK_AVG }} teamrank] </td></tr>
				<tr><td>Excellent/Impressive AVG:</td><td>{{ player[0].EXCELLENT_AVG }} [{{ player[0].IMPRESSIVE_AVG }}] </td></tr>
			</tbody>
		</table>
	</div>

	<div class="span6 well">
		<div class="row-fluid"><h3>All</h3> </div>
		<table class="table table-condensed table-striped table-hover">
			<tbody>
				<tr ng-repeat="(key,val) in player[0]">
					<td>{{ key }}</td>
					<td>{{ val }}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div class="row-fluid">

	<div class="span12 well">
		<div class="row-fluid"><h3>Games</h3> </div>
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='PUBLIC_ID'; ordertype=!ordertype">PUBLIC_ID</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TIMESTAMP'; ordertype=!ordertype">GAME_TIMESTAMP</a></th>
					<th><a href="" ng-click="ordercolumn='GAME_TYPE'; ordertype=!ordertype">GAME_TYPE</a></th>
					<th><a href="" ng-click="ordercolumn='OWNER'; ordertype=!ordertype">OWNER</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="z in games.thegames | orderBy:ordercolumn:ordertype">
					<td><a href="#/game/{{ z.PUBLIC_ID }}">{{ z.PUBLIC_ID | shortenPID }}</a></td>
					<td>{{ z.GAME_TIMESTAMP *1000 | date:'yyyy-MM-dd HH:mm:ss' }} </td>
					<td>{{ z.GAME_TYPE }}</td>
					<td><a href="#/player/{{ z.OWNER }}">{{ z.OWNER }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>


<div class="row-fluid">
</div>

