<a href="#/players">Show by player</a>
<br/>
<br />

<div class="row-fluid">
	<div class="span12 well">
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th><a href="" ng-click="ordercolumn='MAP'; ordertype=!ordertype">RACE MAPS</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="z in racemaps.data.maps | orderBy:ordercolumn:ordertype">
					<td><a href="#/race/maps/{{ z.MAP }}"><img src="http://cdn.quakelive.com/web/2011071903/images/levelshots/md/{{ z.MAP }}_v2011071903.0.jpg" alt="{{ z.MAP }}" title="{{ z.MAP }}" style="height:42px;width:56px;border-width:0px;"> {{ z.MAP }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
